.venv
.venv/
venv
venv/
env
env/

__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

.git
.git/
.github

.vscode
.idea

.ipynb_checkpoints

data/*.pdf

storage/chunks.json
storage/faiss_index.bin

*.tmp
*.temp

.DS_Store
Thumbs.db
Desktop.ini